.panel {
  white-space: pre-wrap;
}
.table {
  white-space: pre-wrap;
}
.btn {
  white-space: pre-wrap;
}
#kif-div {
  display: none;
  text-align: center;
}
#kif-area {
  text-align: left;
}
#comment-div {
  text-align: center;
}
#comment-area {
  display: none;
  text-align: left;
}
#toTop {
  display: none;
  color: gray;
  position: fixed;
  bottom: 30px;
  right: 50px;
}
