.panel {
  white-space: pre-wrap;
}
.table {
  white-space: pre-wrap;
}
.btn{
  white-space: pre-wrap;
}
#kif-div{
  display: none;
}
#comment-area{
  display: none;
}
#toTop{
  display: none;
  color: gray;
  position: fixed;
  bottom: 30px;
  right: 50px;
}